.App{
  font-family: 'Source Serif Pro', serif;
  background-color: aliceblue;
}

.ui.header:first-child{
  font-family: 'Source Serif Pro', serif;
}

.ui.button{
  font-family: 'Source Serif Pro', serif;
}

#country-nav-{
  font-family: 'Source Serif Pro', serif;
}

#trivia-nav{
  font-family: 'Source Serif Pro', serif;
}

.ui.modal>.header {
  font-family: 'Source Serif Pro', serif;
}

.ui.items>.item>.content {
  font-family: 'Source Serif Pro', serif;
}

#navbar-logo-login{
  color: #6453c9;
}

#navbar-logo-logout{
  color: #6453c9;
}