.App{
  font-family: 'Source Serif Pro', serif;
}

.ui.header:first-child{
  font-family: 'Source Serif Pro', serif;
}

.ui.button{
  font-family: 'Source Serif Pro', serif;
}

#country-nav-{
  font-family: 'Source Serif Pro', serif;
}

#trivia-nav{
  font-family: 'Source Serif Pro', serif;
}