#country-header{
  font-size: 5em;
  text-align: center;
}

#country-summary{
  width: 85%;
  margin: auto;
}

#country-overview{
  margin-top: 20px;
  width: 92%;
  margin: auto;
}

#country-geography{
  margin-top: 20px;
  width: 92%;
  margin: auto;
}

.country-table-header{
  text-align: center;
}

#country-sidebar{
  height: 1000px;
  overflow-y: auto;
}

#country-filter{
  width: 100%; 
}
