#flash-card{
  margin: 80px auto 0px auto;
  width: 800px;
  height: 450px;
}

#card-button-container{
  width: 80%;
  margin: auto;
}

#card-button-one{
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

#card-button-two{
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

#card-button-three{
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

#card-button-four{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
