#profile-data{
  width: 50%;
  margin: auto;
}

#avatar-options{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

#profile-options{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
