#profile-data{
  width: 50%;
  margin: auto;
}

#avatar-options{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#profile-options{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

#robot-image-card{
  max-height: 140px;
}

#robot-image{
  width: 100%;
  max-height: 140px;
}