#profile-data{
  width: 50%;
  margin: auto;
}

#avatar-options{
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

#profile-options{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

#robot-image{
  width: 150px;
  height: 150px;
}
