.progress-bar {
  position: relative;
  height: 20px;
  width: 1000px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: cornflowerblue;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
